<section class="about-company">
	<div class="about-box container-fluid">
		<div class="about-company__text">
			<div
				class="template-title-left after-inline animate__animated animate__backInUp green"
			>
				<h2>Your Portal to Limitless Free Online Gaming!</h2>
			</div>
			<h4 class="about-company__subtitle">
				Immerse yourself in the world of exciting card games! Feel the
				excitement of every move, test your skills and luck, because every game
				is a new story. Play your perfect combination and enjoy the
				inexpressible feeling of victory. Here you will find your favorite
				classic games and fresh variants that will give you hours of exciting
				leisure time. It's time to try your luck and enjoy the moment!
			</h4>
			<button class="main-button go-to-game">Start Now</button>
		</div>

		<div>
			<img
				class="img-about-text img-fluid"
				src="assets/img/casino.png"
				alt="Text"
			/>
		</div>
	</div>
</section>
