<section class="advantages">
	<div class="container-fluid">
		<div class="template-title">
			<h2>Why do people choose us?</h2>
		</div>
		<div id="slider-advantage" class="row">
			<div class="advantage col-lg-3">
				<div class="advantage-img">
					<img src="assets/img/advantage1.svg" class="img-fluid" alt="1" />
				</div>
				<div class="advantage-title">It is all Legal</div>
			</div>
			<div class="advantage col-lg-3">
				<div class="advantage-img">
					<img src="assets/img/advantage2.svg" class="img-fluid" alt="2" />
				</div>
				<div class="advantage-title">Protecting Your Data</div>
			</div>
			<div class="advantage col-lg-3">
				<div class="advantage-img">
					<img src="assets/img/advantage3.svg" class="img-fluid" alt="3" />
				</div>
				<div class="advantage-title">Verified Sources Only</div>
			</div>
			<div class="advantage col-lg-3">
				<div class="advantage-img">
					<img src="assets/img/advantage4.svg" class="img-fluid" alt="4" />
				</div>
				<div class="advantage-title">Fast Transactions</div>
			</div>
			<div class="advantage col-lg-3">
				<div class="advantage-img">
					<img src="assets/img/advantage5.svg" class="img-fluid" alt="5" />
				</div>
				<div class="advantage-title">support service</div>
			</div>
			<div class="advantage col-lg-3">
				<div class="advantage-img">
					<img src="assets/img/advantage6.svg" class="img-fluid" alt="6" />
				</div>
				<div class="advantage-title">reliability</div>
			</div>
			<div class="advantage col-lg-3">
				<div class="advantage-img">
					<img src="assets/img/advantage7.svg" class="img-fluid" alt="7" />
				</div>
				<div class="advantage-title">Secure transactions</div>
			</div>
			<div class="advantage col-lg-3">
				<div class="advantage-img">
					<img src="assets/img/advantage8.svg" class="img-fluid" alt="2" />
				</div>
				<div class="advantage-title">Diversity</div>
			</div>
		</div>
	</div>
</section>
