<section class="contacts">
	<div class="container-fluid">
		<div class="template-title">
			<h2>Contacts</h2>
		</div>
		<div class="contacts-box">
			<div class="form-container">
				<form class="form">
					<div class="form-group">
						<label for="email">Email</label>
						<input type="text" id="email" name="email" required="" />
					</div>
					<div class="form-group">
						<label for="textarea">How Can We Help You?</label>
						<textarea
							name="textarea"
							id="textarea"
							rows="10"
							cols="50"
							required=""
						>
						</textarea>
					</div>
					<button class="form-submit-btn" type="submit">Submit</button>
				</form>
			</div>
			<div class="box-li">
				<ul>
					<li>
						Share your experience of using our games - it's important for us to
						know, what you liked and what could be improved.
					</li>
					<li>
						Let us know of any technical problems so that we can resolve them
						promptly.
					</li>
					<li>
						Recommend features or games that you would like to see on the on our
						site.
					</li>
					<li>
						Ask us questions about our service - we are always available to help
						and We're always here to help and answer your questions.
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
