<section class="dilivery container-fluid">
	<div >
		<div class="template-title green">
			<h2>More recommendations </h2>
		</div>
		<h3>
			Explore Our Top Picks of Slot Games! Dive into a curated selection of the best slot games,and endless fun. From classic slots to the latest releases, find the perfect game to suit your style and enjoy top recommendations for an unforgettable gaming experience.
    </h3>
		<div class="slider-template">
			<div class="card">
				<div class="content">
					<div >
						<img src="./assets/img/secgame1.png" alt="Описание изображения"></img>
					</div>
					<p class="para">
						Our slot games offer mysterious treasures, ancient artifacts, and vibrant characters. Spin the reels,  and enjoy big wins!
					</p>
					<button class="main-button go-to-game">Read more</button>
				</div>
			</div>
			<div class="card">
				<div class="content">
					<div >
						<img src="./assets/img/secgame2.png" alt="Описание изображения"></img>
					</div>
					<p class="para">
						Experience the charm of classic slots with modern graphics and features. Spin and feel the excitement with bonus!
					</p>
					<button class="main-button go-to-game">Read more</button>
				</div>
			</div>
			<div class="card">
				<div class="content">
					<div >
						<img src="./assets/img/secgame3.png" alt="Описание изображения"></img>
					</div>
					<p class="para">
						Each game is a unique world with its own bonuses and winning lines. Find your favorite and enjoy an immersive experience.
					</p>
					<button class="main-button go-to-game">Read more</button>
				</div>
			</div>
			<div class="card">
				<div class="content">
					<div > go-to-game
						<img src="./assets/img/secgame4.jpg" alt="Описание изображения"></img>
					</div>
					<p class="para">
						Enjoy free spins, wilds, and multipliers to boost your winnings. Try your luck and see what prizes await!
					</p>
					<button class="main-button go-to-game">Read more</button>
				</div>
			</div>
		</div>
	</div>
</section>
