<section class="dilivery-second">
	<div class="container-fluid">
		<div class="template-title">
			<h2>Best Game Today</h2>
		</div>
    <h3>
      Embark on a journey of nonstop fun with our vast selection of free online games. Whether you're into thrilling quests or brain-teasing puzzles, there's a game for every kind of player.
    </h3>
   
		<div class="box-cart ">
			<div class="card">
        <div >
          <img src="./assets/img/game1.jpg" alt="Описание изображения"></img>
        </div>
        <p class="heading">Aztec Bonanza</p>
        <p>Dive into thrilling adventures!</p>
        <button class="go-to-game">Play Now</button>
      </div>
			<div class="card">
        <div >
          <img src="./assets/img/game2.png" alt="Описание изображения"></img>
        </div>
        <p class="heading">Book of Dead</p>
        <p>Classic meets modern!</p>
        <button class="go-to-game">Play Now</button>
      </div>
			<div class="card">
        <div>
          <img src="./assets/img/game3.jpg" alt="Описание изображения"></img>
        </div>
        <p class="heading">Dance Party</p>
        <p>Endless fun and rewards!</p>
        <button class="go-to-game">Play Now</button>
      </div>
			<div class="card">
        <div>
          <img src="./assets/img/game4.png" alt="Описание изображения"></img>
        </div>
        <p class="heading">Wild Machine</p>
        <p>Bonuses and jackpots at every turn!</p>
        <button class="go-to-game">Play Now</button>
      </div>
		
		</div>
	</div>
</section>
