<section class="disclaimer container-fluid">
	<img src="./assets/img/warrn.png" alt="Описание изображения"></img >
	<h1>Disclaimer</h1>
	<p>
		This is a free social gaming website designed solely for entertainment
		purposes. No real money is involved or can be won, and all games on this
		site are intended for users aged 18 and older. GAMERATINGFUN does not
		promote gambling in any form and encourages all users to enjoy the games
		responsibly.
	</p>
	<p>
		By using GAMERATINGFUN, you acknowledge that the games offered here are
		purely for fun and entertainment. There is no opportunity to gamble for real
		money or to win real-world prizes. The points or credits used in these games
		are for in-game use only and hold no real-world value; they cannot be
		exchanged for cash or any items of value.
	</p>
	<p>
		Our mission is to provide a safe and secure gaming environment for all
		users. Each game is crafted to offer a social, enjoyable experience. We ask
		that you follow the terms and conditions outlined on our site and interact
		respectfully with other players to foster a positive and welcoming
		community.
	</p>
	<p>
		If you or someone you know is experiencing a gambling problem and needs
		assistance, please contact the National Problem Gambling Helpline at
		1-800-522-4700 or visit their website for helpful resources and support.
	</p>
	<p>
		Remember, GAMERATINGFUN is here for fun and social engagement, not for
		gambling.
	</p>
</section>
