<section class="first-screen">
	<div class="banner container-fluid">
		<div
			class="banner-item"
			style="background-image: url(assets/img/banner-1.jpeg)"
		>
			<div class="container">
				<div class="banner-item__title">
					Explore the Excitement of Free Online Games
				</div>
				<div class="banner-item__subtitle">
					Your gateway to a vibrant universe of online games. From action to
					puzzles, experience endless excitement with no downloads or
					subscriptions required.
				</div>
				<button class="main-button go-to-game">Play Now</button>
			</div>
		</div>
		<div
			class="banner-item"
			style="background-image: url(assets/img/banner-2.jpg)"
		>
			<div class="container">
				<div class="banner-item__title">
					Discover the World of Free Online Games
				</div>
				<div class="banner-item__subtitle">
					Discover a world of thrilling online games—no downloads, no fees. Just
					jump in and enjoy hours of uninterrupted entertainment across genres.
				</div>
				<button class="main-button go-to-game">Go Now</button>
			</div>
		</div>

		<div
			class="banner-item"
			style="background-image: url(assets/img/banner-3.png)"
		>
			<div class="container">
				<div class="banner-item__title">Dive into a Universe of Free Games</div>
				<div class="banner-item__subtitle">
					Discover a world of thrilling online games—no downloads, no fees. Just
					jump in and enjoy hours of uninterrupted entertainment across genres.
				</div>
				<button class="main-button go-to-game">Play Now</button>
			</div>
		</div>

		<div
			class="banner-item"
			style="background-image: url(assets/img/banner-4.png)"
		>
			<div class="container">
				<div class="banner-item__title">
					Uncover Endless Fun with Free Online Games
				</div>
				<div class="banner-item__subtitle">
					Enjoy endless hours of entertainment across a wide range of genres—no
					downloads, no subscriptions, just pure gaming fun.
				</div>

				<button class="main-button go-to-game">Play Now</button>
			</div>
		</div>
	</div>
	<div class="banner-nav"></div>
</section>
