<footer class="container footer-animate">
    <nav class="footer-nav">
        <div class="logo-img">
            <a href="index.html"  >
                <img src="assets/img/logo.svg" class="img-fluid" alt="logo">
            </a>   
       </div>
        <div class="footer-info">
            <div class="foter-info">©FunGame</div>
            <div class="foter-info">+1(800)600-18-69</div>
            <div class="footer-info">support@gamefun.com</div>
            <div class="footer-info">110 Carlton Gore Road, Newmarket, Auckland 99, New Zealand</div>
             
        </div>

        <div class="nav-item">
            <a class="nav-link" href="#">Company</a>
            <ul>
                <li> <a class="nav-link__info" href="about.html">About Us</a></li>
                <li> <a class="nav-link__info" href="contacts.html">Services</a></li>
                <li> <a class="nav-link__info" href="advantages.html">Advantages</a></li>
                <li> <a class="nav-link__info" href="privacy.html">Privacy Policy</a></li>
                
            </ul>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="#">Games</a>
            <ul>
                <li> <a class="nav-link__info" href="game.html">Games Collection</a></li>
                <li> <a class="nav-link__info" href="game.html">Frogblox</a></li>
                <li> <a class="nav-link__info" href="game.html">Pug Thugs of Nitropolis
                </a></li>
                <li> <a class="nav-link__info" href="game.html">Dirty Dawgs of Nitropolis</a></li>

            </ul>
        </div>

        <div class="nav-item">
            <a class="nav-link" href="#">Support</a>
            <ul>
                <li> <a class="nav-link__info" href="privacy.html">Privacy Policy</a></li>
                <li> <a class="nav-link__info" href="terms.html">Terms of Use</a></li>
                <li> <a class="nav-link__info" href="contacts.html">Services</a></li>  
            </ul>
           
        </div>
    </nav>

</footer>

<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.3.6.3_min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/custom.js"></script>
</body>

</html>
