<header>
	<div class="container">
		<nav class="navbar navbar-expand-lg">
			<a href="index.html" class="hader-logo">
				<img src="assets/img/logo.svg" class="img-fluid logo-img" alt="logo" />
			</a>
			<button
				class="navbar-toggler"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a class="nav-link" href="index.html">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="about.html">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="game.html">Games</a>
					</li>

					<li class="nav-item dropdown">
						<a
							class="nav-link dropdown-toggle"
							href="#"
							role="button"
							data-bs-toggle="dropdown"
							aria-expanded="false"
						>
							Company
						</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="contacts.html">Contacts</a>
							</li>
							<li><a class="dropdown-item" href="about.html">About</a></li>
							<li>
								<a class="dropdown-item" href="advantages.html">Advantages</a>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a
							class="nav-link dropdown-toggle"
							href="#"
							role="button"
							data-bs-toggle="dropdown"
							aria-expanded="false"
						>
							Legal
						</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="privacy.html">Privacy Policy</a>
							</li>
							<li>
								<a class="dropdown-item" href="terms.html">Terms of Use</a>
							</li>
							<li>
								<a class="dropdown-item" href="cookies.html">Cookies Policy</a>
							</li>
						</ul>
					</li>
				</ul>

				<div class="box-login">
					<button
						class="button-login open-popup-btn"
						id="toggleButton"
						onclick="openPopup()"
					>
						LOGIN
					</button>
					<div class="space">
						<span style="--i: 31" class="star"></span>
						<span style="--i: 12" class="star"></span>
						<span style="--i: 57" class="star"></span>
						<span style="--i: 93" class="star"></span>
						<span style="--i: 23" class="star"></span>
						<span style="--i: 70" class="star"></span>
						<span style="--i: 6" class="star"></span>
					</div>
				</div>
			</div>
		</nav>
	</div>
</header>
