<div class="popup-overlay" id="popupOverlay">
	<div class="popup-content">
		<div class="login-box">
			<h2>Sign Up</h2>
			<input type="email" id="emailInput" class="input" placeholder="Email" />
			<input
				type="password"
				id="passwordInput"
				class="input"
				placeholder="Password"
			/>
			<button
				class="ok-popup-btn"
				id="okButton"
				onclick="confirmLogin()"
				disabled
			>
				Submmit
			</button>
			<button class="close-popup-btn" onclick="closePopup()">Close</button>
		</div>
	</div>
</div>
