<section class="ready-for-cooperation">
	<div class="container">
		<div class="template-title green">
			<h2>About Us</h2>
			<h3>Diverse Game Collection!</h3>
		</div>
		<div class="ready-for-cooperation__content-box-first">
			<ul class="ready-for-cooperation__list">
				<li>
					Your Gateway to Exciting Slot Games. At FunGame, we specialize in
					delivering an exceptional experience in online slot gaming, designed
					for players who seek entertainment and thrilling rewards.
				</li>
				<li>
					Our platform features a wide array of slot games, from classic designs
					to modern themed slots, ensuring there is something exciting for
					everyone.
				</li>
				<li>
					Safe and Secure Gaming. We prioritize player safety, offering a secure
					platform with industry-standard protections so you can focus on
					enjoying the games.
				</li>
				<li>
					Unmatched Slot Game Variety. FunGame brings you a diverse lineup of
					slot games, from beloved classics to innovative new releases, designed
					to keep every player engaged and entertained.
				</li>
				<li>
					Where Fun Meets Rewards. At FunGame, we believe in combining enjoyment
					with rewarding experiences. Dive into our slots for a chance at
					excitement and great rewards, every time you play.
				</li>
			</ul>
			<picture class="ready-for-cooperation__img">
				<source
					srcset="assets/img/img-content-first.png"
					media="(max-width: 991px)"
				/>
				<img
					class="img-about-text"
					src="assets/img/img-content-first.png"
					alt="Text"
					style="width: 555px"
				/>
			</picture>
		</div>
		<div class="ready-for-cooperation__content-box-second">
			<picture class="ready-for-cooperation__img">
				<source
					srcset="assets/img/img-content-second.png"
					media="(max-width: 991px)"
				/>
				<img
					class="img-about-text"
					src="assets/img/img-content-second.png"
					alt="Text"
					style="width: 555px"
				/>
			</picture>
			<div class="ready-for-cooperation__box-item">
				<ul class="ready-for-cooperation__list">
					<li>
						Seamless Experience on Any Device. Whether on mobile or desktop,
						FunGame is optimized to provide a smooth, engaging experience on all
						platforms.
					</li>
					<li>
						Dedicated Support. Our support team is available to assist with any
						questions, ensuring a top-notch experience at every step.
					</li>
					<li>
						Committed to Innovation. FunGame continuously evolves, integrating
						the latest features and game designs to keep gameplay fresh and
						exciting.
					</li>
					<li>
						Play for Fun With no downloads or complex setups, players can start
						enjoying FunGame is slots instantly and immerse themselves in a
						world of entertainment.
					</li>
				</ul>
				<button class="main-button go-to-game">Join us Now</button>
			</div>
		</div>
	</div>
</section>
